<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Credit Cards Recorder</title>
    </head>

    <body>
        <h1>Credit Card Recorder</h1>

        <section>
            <h2>Credit Card Input Area</h2>
            <form action="/creditcards" method="POST">
                <div>
                    <label for="company">Enter Credit Card Company:</label>
                    <input type="text" name="company" placeholder="e.g. Chase">
                </div>
                <div>
                    <label for="cardName">Enter Card Name:</label>
                    <input type="text" name="cardName" placeholder="e.g. Sapphire Reserved">
                </div>
                <input type="submit">
            </form>
        </section>
        <section>
            <h2>Current Credit Cards</h2>
            <ul class="creditCards">
                <% for(let i=0; i < info.length; i++) { %>
                    <li class="creditCard">
                        <span>
                            <%= info[i].cardIssuer %>
                        </span>
                        <span>
                            <%= info[i].cardName %>
                        </span>
                        <span>
                            <%= info[i].points %>
                        </span>
                    </li>
                    <% } %>
            </ul>
        </section>
    </body>

</html>